@import url(http://fonts.googleapis.com/css?family=Milonga);
/* line 6, ../scss/print.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../scss/print.scss */
html {
  font-size: 62.5%;
}

/* line 12, ../scss/print.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 15, ../scss/print.scss */
h2.title {
  font-family: times, serif;
  margin: 1rem 0;
}

/* line 19, ../scss/print.scss */
header.main {
  text-align: center;
}
/* line 22, ../scss/print.scss */
header.main h1 {
  font: 3.4rem "Milonga", cursive;
}

/* line 29, ../scss/print.scss */
body {
  font: 1.3rem Helvetica, Arial, sans-serif;
  *font-size: small;
  /* hack retained to preserve specificity */
  color: #444;
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 1em;
}
/* line 37, ../scss/print.scss */
body > div {
  overflow: hidden;
  position: relative;
}

/* line 45, ../scss/print.scss */
#education {
  text-align: center;
}
/* line 48, ../scss/print.scss */
#education h2 {
  text-align: left;
}
/* line 51, ../scss/print.scss */
#education h3 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* line 78, ../scss/print.scss */
#workExperience .job {
  background: transparent;
  margin: 1.5rem;
}
