@import url(http://fonts.googleapis.com/css?family=Milonga);
/*
@import "zen";
$zen-column-count: 12;
$zen-gutter-width:10px; 
*/
/* line 25, ../scss/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../scss/style.scss */
html {
  font-size: 62.5%;
}

/* line 31, ../scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 34, ../scss/style.scss */
h2.title {
  padding: 0 0 1rem;
  font-family: times, serif;
}
@media (min-width: 30em) {
  /* line 34, ../scss/style.scss */
  h2.title {
    text-align: center;
  }
}

/* line 42, ../scss/style.scss */
div.headerWrapper.main {
  min-height: 36.5rem;
  background: lightblue url(../images/stars-blue.png);
}
/* line 45, ../scss/style.scss */
div.headerWrapper.main header.main {
  display: block;
  margin: 15% auto 10%;
  text-align: center;
  /*@media all (min-width:70rem){
  	h1{
  		font-size: 5rem;
  	}
  }*/
}
/* line 53, ../scss/style.scss */
div.headerWrapper.main header.main img {
  width: 50%;
  max-width: 46rem;
}
/* line 57, ../scss/style.scss */
div.headerWrapper.main header.main h1 {
  font: 3.4rem  'Milonga', cursive;
}
@media (min-width: 930px) {
  /* line 45, ../scss/style.scss */
  div.headerWrapper.main header.main {
    margin: 13.8rem auto 0;
    min-height: 60rem;
  }
}

/* line 73, ../scss/style.scss */
body {
  font: 1.3rem Helvetica, Arial, sans-serif;
  *font-size: small;
  /* hack retained to preserve specificity */
  color: #444;
  min-width: 320px;
  margin: 0 auto;
}
/* line 80, ../scss/style.scss */
body div {
  overflow: hidden;
}

/* line 85, ../scss/style.scss */
#skills {
  min-height: 36.5rem;
}
/* line 90, ../scss/style.scss */
#skills ul > li > div {
  width: 95%;
  display: block;
  height: 30rem;
  margin: 1.5rem auto;
  padding: 0.3rem;
  text-align: center;
}
/* line 98, ../scss/style.scss */
#skills ul > li > div strong {
  font-size: 3rem;
}

/* line 116, ../scss/style.scss */
#education {
  min-height: 36.5rem;
  text-align: center;
  background: url(../images/paper_texture.png);
}
/* line 120, ../scss/style.scss */
#education h2 {
  text-align: left;
  background-color: transparent;
}
/* line 124, ../scss/style.scss */
#education h3 {
  font-size: 2em;
  margin: 2rem 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* line 132, ../scss/style.scss */
#workExperience {
  background-color: lightblue;
}
/* line 134, ../scss/style.scss */
#workExperience h3 {
  padding: 0.5rem 0;
}
/* line 137, ../scss/style.scss */
#workExperience .job {
  min-height: 36.5rem;
  padding: 4.2rem;
  margin: 0.75rem auto;
  overflow: hidden;
  -webkit-box-shadow: #555555 0 0 4px 1px;
  -moz-box-shadow: #555555 0 0 4px 1px;
  box-shadow: #555555 0 0 4px 1px;
}
/* line 145, ../scss/style.scss */
#workExperience .job div.headerWrapper, #workExperience .job div.main {
  max-width: 960px;
  margin: 0 auto;
}
/* line 149, ../scss/style.scss */
#workExperience .job header {
  padding: 1rem;
}
/* line 151, ../scss/style.scss */
#workExperience .job header .company {
  text-align: left;
  text-indent: -999em;
  margin: 1rem 0;
}
/* line 160, ../scss/style.scss */
#workExperience .job div.main {
  padding-bottom: 2rem;
}
/* line 164, ../scss/style.scss */
#workExperience .job div.main ul li {
  margin-bottom: 1rem;
  margin-left: -3rem;
  list-style-type: none;
}
@media (min-width: 30em) {
  /* line 175, ../scss/style.scss */
  #workExperience .job:nth-of-type(2n) div.main, #workExperience .job:nth-of-type(2n) header {
    text-align: right;
  }
  /* line 180, ../scss/style.scss */
  #workExperience .job:nth-of-type(2n) header .company {
    background-position: 100% 0 !important;
  }
}
/* line 190, ../scss/style.scss */
#workExperience #bancvue {
  color: #fdffff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(42%, #2e1054), color-stop(80%, #11061f));
  background: -webkit-linear-gradient(top, #2e1054 42%, #11061f 80%);
  background: -moz-linear-gradient(top, #2e1054 42%, #11061f 80%);
  background: -o-linear-gradient(top, #2e1054 42%, #11061f 80%);
  background: linear-gradient(top, #2e1054 42%, #11061f 80%);
}
/* line 195, ../scss/style.scss */
#workExperience #bancvue header {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
/* line 197, ../scss/style.scss */
#workExperience #bancvue header .company {
  background: url('../images/logo-bancVue.png?1373984228') no-repeat;
  background-size: contain;
  min-height: 4rem;
}
/* line 204, ../scss/style.scss */
#workExperience #hostgator {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #49b5e4), color-stop(100%, #9cc866));
  background: -webkit-linear-gradient(top, #49b5e4 1%, #9cc866 100%);
  background: -moz-linear-gradient(top, #49b5e4 1%, #9cc866 100%);
  background: -o-linear-gradient(top, #49b5e4 1%, #9cc866 100%);
  background: linear-gradient(top, #49b5e4 1%, #9cc866 100%);
  background-size: contain;
  /*&:after{
  	content: url(../images/snappy.png);
  	height:80%;
  	right:50%;
  }
  */
}
/* line 214, ../scss/style.scss */
#workExperience #hostgator header .company {
  background: url('../images/logo-hostgator.png?1373984228') no-repeat;
  background-size: contain;
  min-height: 2rem;
  min-width: 25rem;
  text-align: none;
}
/* line 227, ../scss/style.scss */
#workExperience #gensuite {
  background: #5dcae7;
}
/* line 230, ../scss/style.scss */
#workExperience #gensuite header {
  font-family: Arial, Helvetica, sans-serif;
}
/* line 232, ../scss/style.scss */
#workExperience #gensuite header .company {
  background: url('../images/logo-gensuite.png?1373984228') no-repeat;
  background-size: contain;
  min-height: 4rem;
}
/* line 239, ../scss/style.scss */
#workExperience #osu {
  background: #ff9700;
}
/* line 242, ../scss/style.scss */
#workExperience #osu header .company {
  background: url('../images/logo-osu.png?1373984228') no-repeat;
  background-size: contain;
  min-height: 7rem;
  margin: 1rem;
}
/* line 250, ../scss/style.scss */
#workExperience #ocolly {
  background-color: white;
}
/* line 252, ../scss/style.scss */
#workExperience #ocolly header {
  font-family: "Courier New", Courier, monospace;
}
/* line 255, ../scss/style.scss */
#workExperience #ocolly header .company {
  background: url('../images/logo-ocolly.png?1373984228') no-repeat;
  background-size: contain;
  min-height: 8rem;
  max-width: 45rem;
  margin: auto;
}
/* line 265, ../scss/style.scss */
#workExperience #walmartDev, #workExperience #walmartNetwork {
  color: #FFF;
  background: #0872ba;
}
/* line 268, ../scss/style.scss */
#workExperience #walmartDev header, #workExperience #walmartNetwork header {
  font-family: Myriad, Arial, sans-serif;
}
/* line 270, ../scss/style.scss */
#workExperience #walmartDev header .company, #workExperience #walmartNetwork header .company {
  background: url('../images/logo-walmart.png?1373984228') no-repeat;
  background-size: contain;
  min-height: 4rem;
}
